body{
    margin: 0;
    font-family: 'Patrick Hand', sans-serif;   
    background-color:lightblue;
    flex-direction: row;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 221, 30);
    flex-direction: row;
}

a{
    text-decoration: none;
    color: black;
}

p{
    margin: 0;
    padding: 0;
}

.logo{
    width: 200px;
    height: 80px;
}

#secao1 img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.mãos{
    width: 300px;
    height: 300px;
}


#secao2 img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#secao3 img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#secao4 img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}


.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    width: 50px;
    height: 50px;
}



@import url(tiny.css) (min-width:300px);
@import url(small.css) (min-width:600px);
@import url(big.css) (min-width:900px);

@media screen and (max-width: 300px) {
    /* estilos */
}
@media screen and (max-width: 600px) {
    /* Estilos */
}

@media screen and 
(min-width: 200px) and 
(max-width: 640px)

@media screen and 
(min-width: 600px) and 
(orientation:landscape)


@media screen and 
(max-width: 380px) and 
(orientation:portrait)






